.card {
  width: 400px;
  height: 220px;
  // background-color: #1ca480;
  display: flex;
  flex-direction: column;
  margin:20px;
}
mat-card-actions {
  margin-top:auto;
}

.mat-card-title{
  font-size: x-larger;
}