<form class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" required />

    <mat-label>ddddddddd</mat-label>
    <input placeholder="Just a placeholder" />
    <mat-label>Mat Label Example</mat-label>
    <input type="text" matInput placeholder="Placeholder" />

    <input type="text" matInput />

    <input matInput placeholder="Favorite food" value="Sushi" />

    <textarea matInput placeholder="Leave a comment"></textarea>

    <ng-content></ng-content>
    <mat-hint align="start"><strong>hint</strong> </mat-hint>
    <mat-error>This field is required</mat-error>
    <input matInput hidden />
    <ng-content></ng-content>
  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <input matInput placeholder="pat@example.com" required />
  </mat-form-field> -->
</form>
<!-- mora da bude u form ili bez form -->
