<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Title:</mat-label>
  <input matInput [(ngModel)]="data.title" />
</mat-form-field>
<mat-dialog-content>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Content:</mat-label>
    <textarea matInput [(ngModel)]="data.content" class="TextArea"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    *ngIf="data.delete"
    mat-raised-button
    (click)="onDeleteButtonClick()"
    color="warn"
  >
    Delete
  </button>

  <button mat-raised-button (click)="onSaveButtonClick()" color="primary">
    Save
  </button>
  <button mat-raised-button (click)="onCancelButtonClick()" color="warn">
    Cancel
  </button>
</mat-dialog-actions>
